body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 20px; /* Hauteur de l'en-tête réduite */
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 50px; /* Ajouter un peu d'espace interne */
  margin: 0 50px; /* Ajouter des marges à gauche et à droite de la page */
}

section {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h2 {
  color: #333;
  font-size: 22px;
  margin-bottom: 10px;
}

.donFields {
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

form {
  max-width: 500px;
  margin: 20px auto; /* Centrer le formulaire et ajouter un espace au-dessus */
}

form label, form input, form select {
  display: block;
  margin-bottom: 8px;
  width: 100%;
  padding: 8px;
}

form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%; /* Le bouton prend toute la largeur */
  margin-top: 10px;
}

form button:hover {
  background-color: #0056b3;
}
